@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

*{
    margin: 0px;
    padding: 0pc; 
    display: border-box;
  }
.text-white{
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    z-index: 999;
    font-size: 36px;
    font-family: 'Rubik Doodle Shadow';

}
  body{
    background-color: #181818;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .sec{
    margin-top: 200px;
   
    width: 300px;
    height: 300px;
    justify-content: center;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 50%;
    box-shadow: 10px 10px 20px ;
    
  }
  .sec::before{
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    background-image: conic-gradient(#ff2453 50deg, purple 100deg, pink 200deg, transparent 300deg);
    border-radius: 50%;
    animation: rotate 1s linear infinite;
  
  }
  .sec::after{
    content: "";
    width: 280px;
    height: 280px;
    background: #181818;
    border-radius: 50%;
    position: absolute;
    justify-content: center;
    box-shadow: inset 10px 10px 30px;
    
  }
  
  @keyframes rotate{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(-360deg);
    }
  }
  